.marron{
	height : 45px; 
	width : 45px; 
	background-color : #6B3206; 
}

.beige{
	height : 45px; 
	width : 45px; 
	background-color: #e1b97c;
}

table {
	margin-left: auto;
	margin-right: auto;
	border : 2px solid black; 
	border-collapse: collapse; //enlève les espaces entre les lignes et colonnes
}

h1 {
	text-align : center ; 
}

body {
	background-color : gray; 
}

.rouge {
	background-color: #FF0000;
}


.vert {
	background-color: #00FF00;
}