.noir{
	height : 45px; 
	width : 45px; 
	background-color : #6B3206; 
}

.blanc{
	height : 45px; 
	width : 45px; 
	background-color: #e1b97c;
}

table {
	border : 1px solid black; 
}

.rouge {
	background-color: #00FF00;
}